<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- ZIP ファイルのパス -->
		<add key="SourceZip" value="C:\package.zip" />

		<!-- 展開先ディレクトリ -->
		<add key="TargetDir" value="C:\temp\Work" />

		<!-- 対象EXE名（カンマ区切り） -->
		<add key="ExeNames" value="a.exe,b.exe,c.exe" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>